{{ define "main" }}
<article class="pa3 pa4-ns center lh-copy" style="max-width: 1200px; width: 80%;">

  {{ $backURL := .Site.BaseURL }}
  {{ $backLabel := "← Back to Home" }}
  {{ if or (hasPrefix .File.BaseFileName "beacon-") (eq .File.BaseFileName "magnetic-cores") (eq .File.BaseFileName "lithium-rich") }}
    {{ $backURL = print .Site.BaseURL "post/projects/" }}
    {{ $backLabel = "← Back to Projects" }}
  {{ end }}

  <div class="tc mt4">
    <a href="{{ $backURL }}" class="f6 link dim br2 ba ph3 pv2 mb2 dib dark-gray">{{ $backLabel }}</a>
  </div>

  <div class="mt3">
    {{ .Content }}
  </div>

  <div class="tc mt4">
    <a href="{{ $backURL }}" class="f6 link dim br2 ba ph3 pv2 mb2 dib dark-gray">{{ $backLabel }}</a>
  </div>

</article>
{{ end }}